<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Bioreference.LIS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="B24K.MySettings.ConnString" connectionString="Data Source=NJ1LISDBU01.Bioreference-Laboratories.com;Initial Catalog=BioreferenceLIS_B2;Persist Security Info=False;User ID=b2_app;Password=Ct~B!d@ap#17" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="urlBase" value="https://b24kapiqa.bioreference.com/"/>
  </appSettings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <applicationSettings>
    <Bioreference.LIS.My.MySettings>
      <setting name="LimitDayRange" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="ReleaseOnDemographicUpdate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DemographicUpdateAutoCommentCode" serializeAs="String">
        <value>1064</value>
      </setting>
      <setting name="AddTestFromTestMaster" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BypassCatOnDemoUpdate" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>TOXICOLOGY</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DefaultDivisionCode" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>NJ1</string>
            <string>NJ01</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ThrowExeptionForCurrentFinal" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ToFollowEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Instance" serializeAs="String">
        <value/>
      </setting>
      <setting name="PriliminaryCommentToRemove" serializeAs="String">
        <value>NOTE: The initial automated WBC differential suggested a potential abnormal finding. Results of a manual smear review by a pathologist will be provided on a subsequent final report.</value>
      </setting>
    </Bioreference.LIS.My.MySettings>
  </applicationSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Bioreference.LIS.My.MySettings>
    </Bioreference.LIS.My.MySettings>
  </userSettings>
</configuration>
